doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Bladeless Fan 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='shortcut icon', href='icon/apple.ico')
    bespoke-slide(transition='all .8s ease' transform-origin='50% 50% -400px')
    bespoke-inactive(opacity='0')
    bespoke-before(transform='rotateY(-90deg)')
    bespoke-after(transform='rotateY(90deg)')
    // endbuild

  body(style='background-color:#000000')

    article  
      section
        h1(style="font-size:50px") Teknologi Kolaborasi Pengembangan Perangkat Lunak

      section
        h1(style="font-size:40px") Disusun oleh : Cools Team
        h3(style="font-size:32px") Nama Anggota :
        h4 Rudy Chandra (121110774)
        h4 Ricky (121110677)
        h4 Luis Tono (121110073)
        h4 Jimmy Susilo (121111451)

      section
        h1 History of Fan
        h1
        img(src='gambar/Kipas1.jpg' width="200px" height="175px")
        h1
        img(src='gambar/Kipas2.jpg' width="120px" height="200px")
        h1
        img(src='gambar/Kipas3.jpg' width="150px" height="175px")

      section
        h2 Schuyler Skaats Wheeler(1860-1923)
        h1
        img(src='gambar/Wheeler.jpg' width="200px" height="250px")
        li Lahir 17 Mei 1860
        li Wafat 20 April 1923 karena angina pectoris
        li Menemukan kipas listrik saat berusia 22 tahun
        li American Institute of Electrical Engineers(1905-1906)

      section
        h2 Kipas Wheeler
        img(src='gambar/KipasWheeler.jpg')
        li Ditemukan tahun 1882
        li Diproduksi oleh The Crocker and Curtis Electric Motor Company

      section
        h2 Perkembangan Kipas Angin
        li Dikembangkan Philip H. Diehl
        li Tahun 1887 dipatenkan kipas yang menempel di langit-langit rumah
        li Tahun 1904 kipas angin dengan sendi split-ball

      section
        h2 Latar Belakang
        img(src='gambar/Dyson.jpg' width="250px" height="200px")
        li Kipas angin tanpa baling-baling ini ditemukan oleh James Dyson. 
        li Kipas angin ini mendorong 119 galon udara perdetik. 
        li Tidak seperti kipas angin biasa yang mengandalkan baling-baling yang berputar untuk “menangkap” udara dan menghembuskannya ke depan, teknologi kipas angin tanpa baling-baling ini menggunakan prinsip aliran udara model seperti sayap pesawat terbang.

      section
       h1 Now

      section
       h2 New Technology Has Appear

      section
        h1(style="font-size:50px") Kipas Tanpa Baling
        img(src='gambar/blade.jpg')
        
      section
        h1 Cara Kerja
        li Mesin silinder
        li Cincin blade
        li Prinsip kerja mesin jet

      section
        img(src='gambar/CaraKerja.jpg') 

      section
        h2 Air Multiplier
        img(src='gambar/CaraKerja2.jpg')

      section
        h1 Keuntungan Bladeless Fan

      section
        h2 Keuntungan :
        li Tidak ada Kawat
        li Tidak ada baling-baling

      section
        h1 Demo

      section(data-bespoke-hash='named-route')
        h1 Ending

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild